  <head>
    <meta charset="utf-8">
  
    <title>Cabin in the Cloud - {{ page.title  }}</title>
    <meta name="description" content="Cabin in the Cloud - {{ page.title }}">
    <meta name="author" content="Eric Schmidt">

    <link rel="icon" href="/assets/images/logo.svg" />
  
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ 'main.css' | bust_css_cache }}" />
    <link rel="prefetch" href="/assets/images/cliff-background.jpg" />
    <link rel="prefetch" href="/assets/images/field-background.jpg" />

    <script>
      WebFontConfig = {
        custom: {
          families: [
            'Avenir:n3,n4,n5,n7,n9'
          ],
        }
      };
   
      (function(d) {
         var wf = d.createElement('script'), s = d.scripts[0];
         wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
         wf.async = true;
         s.parentNode.insertBefore(wf, s);
      })(document);
   </script>
  </head>