@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/Avenir-Light.woff2') format('woff2'),
      url('../fonts/avenir/Avenir-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/Avenir-LightOblique.woff2') format('woff2'),
      url('../fonts/avenir/Avenir-LightOblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/Avenir-Book.woff2') format('woff2'),
      url('../fonts/avenir/Avenir-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/Avenir-BookOblique.woff2') format('woff2'),
      url('../fonts/avenir/Avenir-BookOblique.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/Avenir-Medium.woff2') format('woff2'),
      url('../fonts/avenir/Avenir-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/Avenir-MediumOblique.woff2') format('woff2'),
      url('../fonts/avenir/Avenir-MediumOblique.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/Avenir-Heavy.woff2') format('woff2'),
      url('../fonts/avenir/Avenir-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/Avenir-HeavyOblique.woff2') format('woff2'),
      url('../fonts/avenir/Avenir-HeavyOblique.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/Avenir-Black.woff2') format('woff2'),
      url('../fonts/avenir/Avenir-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/Avenir-BlackOblique.woff2') format('woff2'),
      url('../fonts/avenir/Avenir-BlackOblique.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}
